body {
    font-family: 'Open Sans', Arial;
    line-height: 1.1em;
    background: url(../img/light_bg.png) repeat;
}

h1, h2, h3 {
    font-family: Oswald, Arial;
}

h1 {
    margin: 30px auto;
    text-align: center;
    font-size: 4.0em;
    color: #e2961c;
    text-shadow: 1px 3px 2px #a55b00;
    filter: dropshadow(color=#a55b00, offx=1, offy=0);
}

h2 {
    margin: 12px auto;
    text-align: center;
    font-size: 3.0em;
    color: #b06712;
}

h3 {
    margin: 6px auto;
    text-align: center;
    font-size: 2.4em;
}

h1.light {
    color: #fffff4;
    text-shadow: 1px 3px 2px #a55b00;
    filter: dropshadow(color=#a55b00, offx=1, offy=3);
}

h3.light {
    color: #fffff4;
    text-shadow: 1px 3px 2px #a55b00;
    filter: dropshadow(color=#a55b00, offx=1, offy=3);
}

h3.dark {
    color: #4a4a4a;
    text-shadow: 2px 3px 1px #C3C3C3;
    filter: dropshadow(color=#C3C3C3, offx=2, offy=3);
}

h3.extradark {
    padding-top: 10px;
    color: #fffff4;
    text-shadow: 2px 3px 1px #333;
    filter: dropshadow(color=#333, offx=2, offy=3);
}

a,
a:link,
a:visited,
a:active {
    color: #a55b00;
}

#wrapper {
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
}

#top-nav select {
    display: none;
}

#top-nav {
    background: url(../img/grey_bg.png) repeat;
    text-align: center;
    position: relative;
}

#top-nav ul {
    min-height: 80px;
    background: url(../img/shark.png) no-repeat 99% 50%;
    list-style-type: none;
    margin: 0 auto;
}

#top-nav li {
    display: inline
}

#top-nav li.gutter_right {
    padding-right: 30px;
}

#top-nav li.gutter_left {
    padding-left: 30px;
}

#top-nav li:last-child {
    /*margin-right: 50px;*/
}

#top-nav li a {
    color: #fff;
    font-size: 1.4em;
    display: inline-block;
    padding: 20px 25px;
    font-family: Oswald, Arial;
}

#top-nav li a:hover {
    color: #ccc;
    text-decoration: none;
}

body#page #top-nav li#index-link a,
body#page-schedule #top-nav li#schedule-link a,
body#page-sponsors #top-nav li#sponsors-link a,
body#page-speakers #top-nav li#speakers-link a,
body#page-tickets #top-nav li#tickets-link a,
body#page-team #top-nav li#team-link a,
body#page-faq #top-nav li#faq-link a {
    color: #e2961c;
}

.light-bg {
    text-align: center;
    color: #7f7f7f;
}

.medium-bg {
    background: url(../img/yellow_bg.png) repeat;
    text-align: center;
    color: #fffff4;
}

.dark-bg {
    background: url(../img/grey_bg.png) repeat;
    text-align: center;
    color: #fffff4;
}

.large-text {
    line-height: 1.3em;
    font-size: 1.8em;
}

#main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: url(../img/castle.png) no-repeat center bottom;
}

#intro-text {
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: left;
}

#intro-text h1,
#intro-text h2 {
    text-align: left;
}

#intro-text h1 {
    font-size: 5em;
}

#intro-text h2 {
    margin-bottom: 40px;
}

#intro-text #intro-wrapper {
    float: right;
    width: 65%;
    color: #000000;
    text-shadow: 0 1px 5px white;
}

#intro-text #whisky-glass {
    width: 27%;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

#get-involved,
#current-sponsors,
#schedule,
#tweets {
    padding: 12px;
    margin-top: 0;
}

#get-involved p {
    margin-top: 20px;
    padding-top: 20px;
}

div.triangle {
    width: 50px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#sponsors {
    position: relative;
    padding-bottom: 70px;
}

#sponsors .become-a-sponsor {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -100px;
    display: block;
    width: 200px;
    text-transform: uppercase;
    padding: 17px;
    background-color: #6b4612;
    border-radius: 5px;
    color: white;
    font-size: 1.4em;
    opacity: 0.8;
}

#sponsors .become-a-sponsor:hover {
    opacity: 1;
}

#get-in-touch {
    padding: 10px;
}

#get-in-touch p {
    padding: 10px 30px;
}

#get-in-touch .images {
    text-align: center;
    margin: 0;
}

#get-in-touch .images a {
    display: inlne;
    margin: 0 10px;
}

#get-in-touch h3.extradark {
    padding-top: 0px;
    color: #fffff4;
    text-shadow: 2px 3px 1px #333;
    filter: dropshadow(color=#333, offx=2, offy=3);
    font-size: 2em;
}

#current-sponsors table,
#schedule table {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

#schedule,
#tweets {
    margin-bottom: 30px;
}


#current-sponsors table thead tr th,
#schedule table thead tr th {
    text-align: left;
    background: #a55b00;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
}

#schedule table thead tr th {
    text-align: center;
}

#current-sponsors table tbody tr td,
#schedule table tbody tr td {
    color: #a55b00;
    background: #fff;
    border: 1px solid #e2961c;
    padding: 10px;
}

#current-sponsors table tbody tr td:first-child,
#schedule table tbody tr td:first-child {
    border-left: 1px solid #fff;
}

#current-sponsors table tbody tr td:last-child,
#scedule table tbody tr td:last-child {
    border-right: 1px solid #fff;
}

#current-sponsors table tbody tr td.table-na,
#schedule table tbody tr td.table-na {
    background: #a55b00;
}

#schedule table tbody tr td.time {
    background: #a55b00;
    color: #fff;
    font-weight: bold;
    width: 10%;
    border-left: #a55b00;
}

#schedule table tbody tr td.stripe {
    background: #f5deb3;
}

#schedule table tbody tr td.bthick {
    border-bottom: 3px solid #a55b00;
}

#schedule table tbody tr td.tthick {
    border-top: 3px solid #a55b00;
}

p.tier-title {
    margin: 10px;
    font-size: 1.0em;
    color: #fff;
    font-weight: bold;
}

p.tier-price {
    margin: 10px;
    font-size: 1.0em;
    color: #e2961c;
    font-weight: bold;
}

p.tier-qty {
    margin: 10px;
    font-size: 1.0em;
    color: #fff;
    font-style: italic;
}

p {
    line-height: 1.1em;
    font-size: 1.4em;
}

p.left {
    text-align: left;
}

li.sponsor-badge {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    width: 200px;
    background: #a55b00;
    border: 5px solid #a55b00;
    border-radius: 5px;
    margin: 10px;
}

div.badge-logo {
    border-bottom: 5px solid #b06712;
    background: #fff;
    color: #a55b00;
    font-weight: bold;
    vertical-align: middle;
    height: 70px;
}

div.badge-logo img {
    height: 70px;
}

div#previous-sponsors {
    height: 400px;
}

div#our-sponsors {
    overflow: auto;
}

div#previous-sponsors p,
div#our-sponsors p {
    padding: 10px;
    margin: 0 auto;
}

div#previous-sponsors ul,
div#our-sponsors ul,
div#sponsors ul {
    text-align: left;
    display: block;
    font-size: 1.4em;
    list-style-type: none;
}

div#previous-sponsors ul li,
div#our-sponsors ul li,
div#sponsors ul li {
    display: inline-block;
    margin-left: 30px;
}

span.copyright {
    float: left;
    font-size: 1.3em;
    font-family: "Open Sans", Arial;
}

footer {
    clear: both;
    padding: 10px;
}

footer ul {
    float: right;
    list-style-type: none;
}

footer ul li {
    margin-right: 12px;
    float: left;
}

footer ul li a {
    color: #fffff4;
    font-size: 1.2em;
    font-family: "Open Sans", Arial;
}

footer ul li:last-child {
    margin-right: 0;
}

#team {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    clear: both;
}

#team a {
    text-decoration: none;
    color: #a55b00;
    font-weight: bold;
    font-size: 1em;
}

#team li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

#team li img {
    display: block;
    border: 5px solid #a55b00;
    border-radius: 5px;
    width: 128px;
    height: 128px;
}

form#contact_form {
    width: 400px;
    margin: 0 auto;
}

form#contact_form ul {
    list-style-type: none;
}

form#contact_form li.formfield label {
    margin-top: 10px;
    color: #a55b00;
    font-size: 1.4em;
    font-weight: bold;
}

form#contact_form li.formfield input {
    width: 330px;
    border: 3px solid #a55b00;
}

form#contact_form li.formfield textarea {
    border: 3px solid #a55b00;
    width: 330px;
    resize: both;
}

form#contact_form li.formfield select {
    width: 350px;
}

form#contact_form li.formbuttons input {
    background: #a55b00;
    border: 1px solid #a55b00;
    color: #fff;
    padding: 10px;
    width: 100px;
}

dl#faq {
    text-align: left;
    margin: 20px;
    padding-left: 10px;
}

dl#faq dt {
    text-align: left;
    font-size: 2.0em;
    margin-bottom: 10px;
}

dl#faq dt span {
    text-align: left;
    font-style: italic;
    font-size: 1.3em;
}

dl#faq dd {
    text-align: left;
    font-size: 1.4em;
    margin-left: 20px;
    margin-bottom: 30px;
}

div#shark {
    padding: 20px;
    margin-bottom: 20px;
}

div#tweets {
    margin: 10px 0;
}

div#tweets ul li {
    text-align: left;
    list-style: none;
    font-style: italic;
    line-height: 1.4em;
    font-size: 1.4em;
}

span.twitter_handle {
    font-weight: bold;
    color: #a55b00;
}

dl#prices dt{
    font-size: 1.6em;
    line-height: 1.3em;
}

dl#prices dd {
    font-style: italic;
    font-size: 1.6em;
    line-height: 1.3em;
}

div#airthphotos {
    margin: 0 auto;
    width: 800px;
}

div#airthphotos div {
    border: 3px solid #7f7f7f;
    width: 310px;
    height: 210px;
    /*display: inline-block;*/
    float: left;
    padding: 20px;
    margin: 20px;
    background: #eaeaea;
}

div#airthphotos div img {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.speaker {
    padding: 20px;
    position: relative;
}

.speaker.yellow {
    background: url(../img/yellow_bg.png) repeat;
    color: #fffff4;
}

.speaker.yellow h1,
.speaker.yellow h2 {
    color: #fffff4;
    text-shadow: 1px 3px 2px #a55b00;
    filter: dropshadow(color=#a55b00, offx=1, offy=3);
}

.speaker img {
    width: 240px;
    margin: 12px 0 12px 12px;
    float: right;
}

.speakers .speaker:last-child {
    margin-bottom: 20px;
}

.speaker p {
    line-height: 1.2em;
}

div.post h3.post-title {
    margin: 30px auto;
    text-align: center;
	font-size: 4.0em;
	color: #e2961c;
}

div.post h3.post-title a {
	color: #e2961c;
	text-shadow: 1px 3px 2px #a55b00;
	filter: dropshadow(color=#a55b00, offx=1, offy=0);
}

div.post div.post-date abbr.published-on {
    font-size: 1.3em;
    text-align: center;
    display: block;
}

div.post-content {
    margin-bottom: 20px;
}

div.post-content p {
    text-align: justify;
}

div.post a.more {
    font-size: 1.2em;
}

.speaker h1 {
    text-align: left;
    margin-top: 1%;
}

.speaker h2 {
    font-size: 2.0em;
    text-align: left;
    margin: 20px auto;
    line-height: 1.2em;
}

#our-sponsors h4 {
    margin-top: 1em;
    font-size: 2em;
    font-weight: bold;
}
