body {
	position: relative;
}

@font-face {
    font-family: 'VeneerThree';
    src: url('../fonts/VeneerThree.eot');
    src: url('../fonts/VeneerThree.eot?#iefix') format('embedded-opentype'),
         /*url('../fonts/VeneerThree.woff') format('woff'),*/
         url('../fonts/VeneerThree.ttf') format('truetype'),
         url('../fonts/VeneerThree.svg#VeneerThree') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.eot');
    src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
         /*url('../fonts/BebasNeue.woff') format('woff'),*/
         url('../fonts/BebasNeue.ttf') format('truetype'),
         url('../fonts/BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}


#wrapper {
	width: 400px;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	position: relative;
}

#whisky-glass {
	top: 25px;
	left: 25%;
	width: 183px;
	height: 200px;
	display: block;
	position: absolute;
	margin: -2% auto 0 auto;
}

#whisky-glass img {
	display: block;
	width: 183px;
	height: 200px;
}

#whiskyweb-text {
	position: absolute;
	top: 230px;
	left: -40px;
	font-size: 4.9em;
	color: #b6b54b;
	width: 400px;
	height: 90px;
	font-family: "VeneerThree";
}

#whiskyweb-sub-text {
	position: absolute;
	top: 305px;
	left: 5%;
	font-size: 3.1em;
	color: #a5a79c;
	width: 260px;
	font-family: "VeneerThree";
}



#bottom-buttons a:first-child {
	margin-right: 50px;
}

#bottom-buttons span {
	position: absolute;
	top: 35px;
	left: 15px;
	color: #dee7cc;
	font-size: 1.5em;
	font-weight: normal;
	display: block;
	width: 100px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	font-family: BebasNeue;
}

#bottom-buttons img {
	display: block;
	width: 131px;
	height: 130px;
}

#bottom-buttons a {
	display: block;
	float: left;
	width: 131px;
	height: 130px;
	position: relative;
}

#bottom-buttons {
	position: absolute;
	bottom: 25px;
	left: 33%;
	position: fixed;
	width: 400px;
	height: 135px;
}

/*div { border: 1px solid red; }*/