body {
	font-family: 'Open Sans', Arial;
	line-height: 1.1em;
    background: url(../img/light_bg.png) repeat;
}

h1, h2, h3 {
	font-family: Oswald, Arial;
}

h1 {
    margin: 10px auto;
    text-align: center;
	font-size: 2.0em;
	color: #e2961c;
    text-shadow: none;
    filter:;
}

h2 {
	margin: 4px auto;
    text-align: center;
	font-size: 1.6em;
	color: #b06712;
}

h3 {
    margin: 6px auto;
	text-align: center;
	font-size: 1.4em;
}

h3.light {
	color: #fffff4;
    text-shadow: none;
    filter:;
}

h3.dark {
	color: #4a4a4a;
    text-shadow: none;
    filter:;
}

h3.extradark {
    padding-top: 10px;
    color: #fffff4;
    text-shadow: none;
    filter:;
}

a,
a:link,
a:visited,
a:active {
    color: #a55b00;
}

#wrapper {
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
}

#top-nav select {
    display: inline-block;
}

#top-nav {
	background: none;
    text-align: center;
}

#top-nav ul {
    display: none;
    min-height: 80px;
    background-image: none;
	list-style-type: none;
	margin: 0 auto;
}

#top-nav li {
    display: block;
}

#top-nav li.gutter_right {
    padding-right: 0;
}

#top-nav li.gutter_left {
    padding-left: 0;
}

#top-nav li a {
	color: #e2961c;
	font-size: 1.4em;
	display: inline-block;
    padding: 5px;
	font-family: Oswald, Arial;
}

#top-nav li a:hover {
    color: #ccc;
    text-decoration: none;
}

body#page-index #top-nav li#index-link a,
body#page-schedule #top-nav li#schedule-link a,
body#page-sponsors #top-nav li#sponsors-link a,
body#page-tickets #top-nav li#tickets-link a,
body#page-team #top-nav li#team-link a,
body#page-contact #top-nav li#contact-link a {
	color: #4a4a4a;
}

body#page-sponsors #top-nav li#sponsors-link a:hover {
	color: #fff;
}

#whisky-glass img {
	display: block;
	margin: 0 auto;
}

.light-bg {
	text-align: center;
	color: #7f7f7f;
}

.medium-bg {
	background: url(../img/yellow_bg.png) repeat;
    text-align: center;
    color: #fffff4;
}

.dark-bg {
    background: url(../img/grey_bg.png) repeat;
    text-align: center;
	color: #fffff4;
}

.large-text {
	line-height: 1.3em;
	font-size: 1em;
}

div#intro-text #intro-wrapper {
	width: 100%;
}

div#intro-text h1, div#intro-text h2 {
	text-align: center;
}

#intro-text {
    padding-top: 0;
    margin-top: 0;
    background: none;
}

#get-involved,
#current-sponsors {
	padding: 12px;
	margin-top: 0;
}

#get-involved p {
    margin-top: 0;
    padding-top: 0;
    background: none;
}

div.triangle {
    width: 50px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#sponsors {
    position: relative;
	height: 160px;
	background: none;
}

#sponsors .become-a-sponsor {
    display: block;
    position: absolute;
    bottom: 5px;
    width: 200px;
    margin-left: -100px;
    text-transform: uppercase;
    padding: 7px;
    background-color: #6b4612;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    opacity: 0.8;
}

#sponsors .become-a-sponsor:hover {
    opacity: 1;
}

#get-in-touch {
    padding: 10px;
}

#get-in-touch p {
    padding: 10px 30px;
}

#get-in-touch .images {
    text-align: center;
    margin: 12px auto 0 auto;
}

#get-in-touch .images a {
    display: inlne;
    margin: 0 10px;
}

#current-sponsors table {
	font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #fff;
}

#current-sponsors table thead tr th {
    text-align: left;
	background: #a55b00;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
}

#current-sponsors table tbody tr td {
	color: #a55b00;
    background: #fff;
    border: 1px solid #e2961c;
    padding: 3px;
}

#current-sponsors table tbody tr td:first-child {
    border-left: 1px solid #fff;
}

#current-sponsors table tbody tr td:last-child {
    border-right: 1px solid #fff;
}

#current-sponsors table tbody tr td.table-na {
	background: #a55b00;
}

p.tier-title {
    margin: 10px;
    font-size: 1.0em;
    color: #fff;
    font-weight: bold;
}

p.tier-price {
    margin: 10px;
    font-size: 1.0em;
	color: #e2961c;
    font-weight: bold;
}

p.tier-qty {
    margin: 10px;
    font-size: 1.0em;
	color: #fff;
    font-style: italic;
}

p {
    line-height: 1.1em;
    font-size: 1em;
}

p.left {
    text-align: left;
}

li.sponsor-badge {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    width: 200px;
    background: #a55b00;
    border: 5px solid #a55b00;
    border-radius: 5px;
    margin: 10px;
}

div.badge-logo {
    border-bottom: 5px solid #b06712;
    background: #fff;
    color: #a55b00;
    font-weight: bold;
    vertical-align: middle;
    height: 70px;
}

div#previous-sponsors {
    height: 750px;
}

div#previous-sponsors p {
    padding: 10px;
    margin: 0 auto;
}

div#previous-sponsors ul {
    text-align: left;
    display: block;
    font-size: 1.4em;
    list-style-type: none;
}

div#previous-sponsors ul li {
    display: inline-block;
    margin-left: 30px;
}

span.copyright {
	float: left;
	font-size: 1.3em;
	font-family: "Open Sans", Arial;
}

footer {
    clear: both;
    font-size: 0.8em;
    padding: 10px;
}

footer ul {
	float: right;
	list-style-type: none;
}

footer ul li {
	margin-right: 12px;
	float: left;
}

footer ul li a {
	color: #fffff4;
	font-size: 0.8em;
	font-family: "Open Sans", Arial;
}

footer ul li:last-child {
	margin-right: 0;
}

#team {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    clear: both;
}

#team a {
    text-decoration: none;
    color: #a55b00;
    font-weight: bold;
    font-size: 1em;
}

#team ul {
    margin: 0;
    padding: 0;
}

#team li {
	display: inline-block;
    list-style-type: none;
    text-align: center;
}

#team li img {
    display: block;
    border: 5px solid #a55b00;
    border-radius: 5px;
    width: 128px;
    height: 128px;
}


form#contact_form {
    width: 200px;
    margin: 0 auto;
}

form#contact_form ul {
    list-style-type: none;
}

form#contact_form li.formfield label {
    margin-top: 10px;
	color: #a55b00;
    font-size: 1.4em;    
    font-weight: bold;
}

form#contact_form li.formfield input {
    width: 200px;
	border: 3px solid #a55b00;
}

form#contact_form li.formfield textarea {
	border: 3px solid #a55b00;
    width: 200px;
    resize: both;
}

form#contact_form li.formfield select {
    width: 200px;
}

form#contact_form li.formbuttons input {
	background: #a55b00;
	border: 1px solid #a55b00;
    color: #fff;
    padding: 10px;
    width: 100px;
}
