body {
    padding: 0;
    margin: 0;
    color:white;
    font-family: verdana, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Abel', 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}

h1 {
    font-family: 'Oswald', 'League Gothic', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 100px;
    line-height: 100px;
    margin: 50px 0;
    color: black;
}

h2 {
    font-size: 28px;
}

p {
    line-height: 18px;
    font-size: 12px;
}

#grid {
    width: 1001px;
    left: 50%;
    margin-left: -500px;
    position: fixed;
    top: 0px;
    bottom: 0px;
}
#grid hr {
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.15);
    border: 0;
    float:left;
    margin: 0 199px 0 0;
}

#grid hr:last-child {
    margin: 0;
}

navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #502200;
    z-index: 2000;
}

navigation ul {
    background: #502200;
    width: 1000px;
    overflow: auto;
    padding: 0;
    margin: 0 auto;
}

navigation li {
    list-style-type: none;
    float:left;
}

navigation li a {
    display: block;
    color: #a69382;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 20px 0 20px 10px;
    width: 189px;
    border-right:1px solid #5a2c0b;
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
}

navigation li a:hover, navigation li a.selected {
    background: #441d00;
    color:white;
}

navigation li:first-child a {
    border-left: 1px solid #5a2c0b;
    width: 188px;
}

section {
    width: 100%;
    min-width: 1000px;
    margin: 0;
}

section > div {
    position: relative;
    width: 1000px;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 120px;
    overflow: auto;
    z-index: 1;
}

.home-section {
    background: #c75401;
}

.home-section > div {
    background: transparent;
}

.home-section > div:before {
   content:"";
   z-index: -1;
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
    background: url(/img/home-1.png) right 51px no-repeat,
      url(/img/home-2.png) 601px bottom no-repeat,
      url(/img/home-3.png) 201px bottom no-repeat;
   opacity:0.7;
}


.information-section {
    background:#724329;
}

.information-section h1 {
    color: #482819;
}

.information-section h2 {
    cursor: pointer;
}

.speakers-section {
    background: #40312e;
}

.speakers-section h1 {
    color: #251b1a;
}

.sponsors-section {
    background: #2a2028;
}

.sponsors=section > div:before {
   content:"";
   position:absolute;
   z-index: -1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background: url(/img/sponsors-1.png) left bottom no-repeat;
   opacity:0.2;
}

.tickets-section {
    background: #1b1a20;
}

.tickets-section > div:before {
   content:"";
   position:absolute;
   z-index: -1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background: url(/img/tickets-1.png) right bottom no-repeat;
   opacity:0.2;
}

.content h2 {
    margin-top: 0;
}

.home-section h1 {
    color: white;
    display: block;
    margin-left: 210px;
    text-transform: uppercase;
    width: 400px;
    font-size: 125px;
    letter-spacing: -6px;
    line-height: 150px;
}
#early-tickets {
    top: 425px;
    position: absolute;
    left: 725px;
    background: white;
    width: 150px;
    height: 120px;
    padding-top:30px;
    border-radius: 150px;
    color: #572700;
    text-align:center;
}

#early-tickets h3, #early-tickets h2 {
    margin: 0;
}
#early-tickets h3 {
    letter-spacing: -1px;
}
#early-tickets h2 {
    font-size: 56px;
}

.home-section .date {
    position: absolute;
    left: 460px;
    top: 300px;
    text-align: justify;
    width: 260px;
    color: #572700;
}

#the-hub {
    position: absolute;
    left: 620px;
    top: 160px;
    width: 96px;
    height: 85px;
    text-indent: -9999px;
    opacity: 0.6;
    background: url(/img/thehub-front.png);
}

.home-section .content {
    margin-left: 215px;
    width: 370px;
}
.home-section .speakers h2 {
    color: #572700;
    font-weight: normal;
    text-decoration: underline;
}
.home-section .speakers {
    margin-left: 15px;
    width: 180px;
    color: #572700;

}

#accordion-wrapper {
    height: 400px;
}

.information-section .inner {
    -moz-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
    border-top: 3px solid transparent;
    height: 0px;
    overflow: hidden;
}
.information-section .active .inner {
    border-top: 3px solid white;
    height: 200px;
}

.information-section h2 {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 10px;
}
.information-section .item {
    border-top: 3px solid white;
    display:inline-block;
    padding-top: 10px;
}

.information-section .item:last-child {
    border-bottom: 3px solid white;
}
.information-section .inner {
    padding-left: 220px;
}

.speakers-section ul {
    overflow: auto;
    padding: 0;
}
.speakers-section li {
    list-style-type: none;
    width: 169px;
    float:left;
    background: #251b1a;
    border-right: 1px solid #372d2c;
    padding: 15px;
}

.speakers-section img {
    display: block;
    background: white;
    width: 160px;
    height: 160px;
    border-radius: 160px;
    margin: 0px auto;
}

.speakers-section #announce {
    margin-top: 50px;
    text-align: center;
}

.speakers-section h3 {
    margin-bottom: 3px;
}

.speakers-section h4 {
    text-transform: none;
    color: #675b65;
    margin: 0;
    font-size: 12px;
}

.speakers-section p {
    line-height: 18px;
}

.speakers-section a {
    color: #8e7976;
    font-size: 12px;
}

.sponsors-section ul {
    margin: 0;
    padding: 0;
    float: right;
    width: 600px;
}

.sponsors-section li {
    list-style-type: none;
    width: 179px;
    height: 130px;
    background: black;
    float: left;
    margin: 0 1px 1px 0px;
    padding: 10px;
}

.sponsors-section .content {
    width: 380px;
    float:left;
}

.sponsors-section p {
    color: #bbb1b9;
}

.sponsors-section h5 {
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    color: #655b63;
}

.sponsors-section li h2 {
    text-decoration: underline;
    color: #675b65;
}


.tickets-section .content {
    width: 380px;
    float:left;
}

.tickets-section #eventbrite {
    float: right;
    width: 560px;
    background: black;
}
.tickets-section .content h5 {
    margin: 10px 0 10px 0;
    font-weight: normal;
}

.tickets-section .content ul {
    padding: 0;
    margin: 0;
}

.tickets-section .content li {
    line-height: 18px;
    color: #9996a1;
    list-style-type:none;
    font-size:11px;
}

#map {
    width: 565px;
    height: 350px;
    float:left;
    background: #333;
    margin-right: 35px;
}

#map-wrapper {
    clear:both;
    padding-top: 30px;
}
#map-wrapper h2 {
    margin: 0;
}
#map-wrapper h2 a {
    text-decoration: none;
    color: #c65300;
}

.car {
    float:left;
}

.airport {
    float:right;
}

.address {
    width: 190px;
}

.address p {
    color: #9996a1;
}

.address h5 {
    font-weight: normal;
}

.addr {
    color: #9996a1;
    font-size: 14px;
}

#eventbrite .item:first-child {
    text-align:left;
    width: 200px;
    margin-right: 20px;
}
#eventbrite {
    padding: 20px;
}
#eventbrite p {
    font-size: 16px;
}
#eventbrite .item {
    width: 170px;
    float:left;
}
#eventbrite .item {
    text-align: center;
}
#eventbrite h2 {
    margin: 0;
    color: #9996a1;
    font-size: 15px;
    text-align:center;
}
#quantity {
    width: 20px;
}

#eventbrite .terms {
    font-size: 10px;
    text-align:left;
    color: #5e5d65;
}
#eventbrite .discount {
    margin-top: 50px;
}
#eventbrite .discount p {
    font-size: 10px;
    text-align:left;
    color: #5e5d65;
    margin: 3px 0;
}

#eventbrite .discount input {
    background: #5f5d68;
    border: 0;
    padding: 3px;
    font-size: 14px;
    color: white;
}

.terms a {
    color: #c75500;
}

#quantity-picker {
    margin-top: 5px;
    text-align: center;
    height: 30px;
}

#quantity-picker input[type=button] {
    border: 0;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#eventbrite input[type=submit] {
    text-transform: uppercase;
    font-size: 16px;
    border: 0;
    background: #c75500;
    color: white;
    padding: 5px 15px;
}

@media screen and (max-width: 600px) {

    h2 {
        font-size: 20px;
    }

    section {
        width: 100%;
        min-width: 0px;
        margin: 0;
    }

    section > div {
        padding: 0;
        width: auto;
    }
    section > div:before {
        background: none !important;
    }

    #grid { display: none; }

    .home-section h1 {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 1px;
        margin: 10px 0;
        width: auto;
    }

    .home-section .date {
        position: relative;
        top: 0;
        left: 5px;
        text-align: left;
    }

    .home-section .content, .sponsors-section .content {
        width: auto;
        margin: 0 5px;
    }

    h1 {
        font-size: 50px;
        line-height: 50px;
        margin: 10px 0;
        text-align: center;
    }

    .information-section .inner {
        padding-left: 5px;
        height: auto;
        border-top: 0 !important;
    }

    .information-section .item {
        border-top: 0;
        border-bottom: 0 !important;
    }

    #accordion-wrapper {
        height: auto;
    }

    .speakers-section li {
        text-align: center;
        padding: 5px;
        width:149px;
    }

    .speakers-section img {
        width: 130px;
        height: 130px;
    }

    .sponsors-section ul {
        width: auto;
    }
    .speakers-section #announce {
        margin-top: 10px;
    }
    .sponsors-section li {
        width: 139px;
    }

    #map-wrapper {
        padding: 5px;
    }

    #map {
        width: 100%;
    }

   .tickets-section #eventbrite {
        width: auto;
    }

    #the-hub, #early-tickets, .home-section .speakers, .speakers-section p,
    .speakers-section a, navigation {
        display: none;
    }
}